html, body{
	font-family: "Roboto", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.22px;
	background-color: rgb(243, 243, 244);
	color: rgb(103, 106, 108);
	height: 100%;
	overflow-x: hidden;
}

/* Login Screen */

html.login,
html.login body {
	overflow-y: hidden;
}

#login {
	z-index: 1000;
}

input, textarea{
	cursor: text;
}

button {
	cursor: pointer;
}

#login input {
	cursor: pointer;
}

#login, 
#loginscreen {
	background: url(../images/background.jpg);
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: 40% 40%;
	display: none;
	text-align: center;
}

@media(min-height:400px) {
	.slide {
		width: 100%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	#login,
	#loginscreen {
		height: 100%;
	}
}

.login-logo {
    position: relative;
    display: block;
    text-align: center;
    z-index: 1020;
    margin: 0 auto;
}

.loginform {
	position: relative;
	z-index: 1010;
	background: rgb(251, 189, 93);
	max-width: 180px;
	margin: -53px auto 100px;
	padding: 3px;
	text-align: center;
}

.logininner {
	padding: 57px 8px 8px;
	background-color: #fff;
}

@media(max-height:700px) {
	.loginform{ 
		margin-bottom: 10px;
	}
}

.loginform input {
	outline: 0;
	background: #fff;
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgb(249,159,24);
	margin: 0 0 10px;
	padding: 8px;
	box-sizing: border-box;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.loginform #login-submit {
	text-transform: uppercase;
	outline: 0;
	background: rgb(249,159,24);
	width: 100%;
	border: 0;
	padding: 8px;
	color: #fff;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border-radius: 5px;
	cursor: pointer;
}
.loginform #login-submit:hover,.loginform #login-submit:active,.loginform #login-submit:focus {
	background: rgb(239, 105, 15);
}

.loginform input:hover,.loginform input:active,.loginform input:focus {
	border-bottom: 1px dashed rgb(239, 105, 15);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Wrapper */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    display: none;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 50;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
  	overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgb(249,159,24); /* Old browsers */
	background-color: -moz-linear-gradient(top, rgb(249,159,24) 1%, rgb(251,190,92) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top, rgb(249,159,24) 1%, rgb(251,190,92) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom, rgb(249,159,24) 1%, rgb(251,190,92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-image: url(../images/side-menu.jpg);
	background-size: cover;
	background-position: center center;
	padding: 0;
}

#sidebar-wrapper header {
	text-align: center;
	height: 59px;
	border-bottom: 1px solid rgba(239,127,0,.5);
}

#sidebar-wrapper footer {
	text-align: center;
	position: fixed;
	display: block;
	width: 220px;
	height: 77px;
	padding-bottom: 20px;
	bottom: 0px;
	left: -200px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media(min-height:500px) and (min-width:768px) {
	#sidebar-wrapper footer {
		left: 0px;
	}
}

.popover-title strong,
.popover-content strong {
	font-weight: bold;
}

.popover-content hr{
	margin-top: 10px;
	margin-bottom: 5px;
}

.popover-content .version {
	text-align: right;
	width: 100%;
	display: block;
	font-size: 80%;
}

#sidebar-wrapper h1 {
    display: block;
    margin: 0;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    background: url(../images/key.png) no-repeat;
    background-size: 95px;
    background-position: 4px 8px;
    display: block;
    height: 60px;
    font-family: 'Roboto';
}

#sidebar-wrapper h1 a {
	padding: 35px 0px 5px 30px;
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 0.9em;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper,
#page-content-overlap {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px;
}

#page-content-overlap {
	z-index: 900;
	display: none;
	background-color: rgba(255,255,255,0);
	cursor: pointer;
	-webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
}

#page-content-overlap.toggled {
	background-color: rgba(249,159,24,0.1);
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
    overflow-y: hidden;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 59px;
    width: 220px;
    margin: 0;
    padding: 0;
    background-color: rgba(239,127,0,.3);
}

.sidebar-nav ul {
    background-color: rgba(239,127,0,.2);
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav a {
    padding: 6px 8px 8px 8px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav a:focus,
.sidebar-nav a:focus:hover,
.sidebar-nav a.active,
.sidebar-nav a.active:hover, 
.sidebar-nav a[data-toggle="collapse"].active,
.sidebar-nav a[data-toggle="collapse"].active:focus,
.sidebar-nav a[data-toggle="collapse"].active:focus:hover {
	background-color: rgb(255,255,255);
	background: linear-gradient(90deg, rgb(255,255,255) 94%, rgb(243,243,243) 100%);
	color: rgb(250,137,0);
}

.sidebar-nav a:hover {
	background: rgba(255,0,0,.4);
	color: #fff;
}

.sidebar-nav a[data-toggle="collapse"]:focus {
	background: none;
	color: #fff;
}

.sidebar-nav .collapseable a {
	font-size: 13px;
	font-weight: 500;
	padding: 6px 10px 6px 10px;
}

.sidebar-nav .collapseable {
	margin-left: 42px;
	background-color: rgba(239,127,0,.4);
}

.sidebar-nav .fa {
    margin-right: 10px;
    font-size: 1.48em;
    position: relative;
    top: 3px;
    width: 23px;
    display: inline-block;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* hamburger menu styles */

.menu-icon-wrapper {
	position: relative;
	display: inline-block;
    width: 30px;
    height: 30px;
	margin: 1.2em 0.5em 0.5em 0.5em;
	pointer-events: none;
	transition: 0.1s;
	z-index: 800;
	padding: 4px;
}

.menu-icon-wrapper.scaled {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.menu-icon-wrapper svg {
	position: absolute;
	top: -22px;
	left: -24px;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	height: 100px;
	width: 100px;
}

.menu-icon-wrapper svg path {
	stroke: rgb(250,137,0);
	stroke-width: 5px;
	stroke-linecap: round;
        stroke-linejoin: round;
	fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
	outline: none;
}

/* start content */

a.indexPage {
	color: rgb(248,92,25);
	font-weight: bold;
}

.indexPage ol li {
	padding-bottom: 3px;
}

.display-table {
	display: table;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.display-table-row {
	display: table-row;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	float: none;
	height: 100%;
}

.valign-top {
	vertical-align: top;
}

#nav-header {
	background-color: rgba(255,255,255,.9);
	border-bottom: 1px solid rgb(231, 234, 236);
	height: 59px;
}

#nav-header #header-search-field {
	vertical-align: center;
	border: none;
	border-bottom: 1px dotted rgb(103, 106, 108);
	background-color: rgba(255,255,255,.9);
	width: 250px;
	outline: none;
}

#nav-header #header-search-field::-ms-clear {
    display: none;
}

#nav-header #searchClear {
	position: relative;
    top: 0px;
    left: -16px;
    margin-right: -16px;
    font-size: 80%;
}

#nav-header #searchClear.notvisible{
	visibility: hidden;
}

#nav-header #searchClear .glyphicon {
	color: grey;
}

#noSearchResult {
	text-align: center;
	padding-top: 15px;
	display: none;
}

@media(max-width: 993px) {
	#nav-header .mobilesearch #header-search-field.hidden-xs,
	#nav-header .mobilesearch #header-search-field.hidden-sm,
	#nav-header .mobilesearch #searchClear .hidden-xs,
	#nav-header .mobilesearch #searchClear .hidden-sm {
		display: inline-block !important;
	}

	#nav-header #searchBox.mobilesearch {
		position: absolute;
		overflow: hidden;
	    top: -6px;
	    left: -17px;
	    padding: 22px 0px 10px 10px;
	    max-height: 59px;
	    background-color: white;
	    width: calc(100% - 160px);
	}

	#nav-header #header-search-field {
		width: 88%;
	}
}

@media(max-width: 767px) {
	#nav-header #searchBox.mobilesearch {
	    top: -7px;
	    left: 37px;
	    padding: 22px 0px 6px 10px;
	    width: calc(100% - 130px);
	}

	#nav-header #header-search-field {
		width: 70%;
	}
}

#nav-header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: rgb(103, 106, 108);
}

#nav-header ul li {
	float: left;
	margin-left: 20px;
	padding: 17px 0px;
}

#nav-header ul .glyphicon {
	color: rgb(250,137,0);
	margin-right: 3px;
}

#nav-header ul a {
	text-decoration: none;
	color: rgb(103, 106, 108);
	transition: all 0.25s ease;
}

#nav-header ul a:hover {
	color: rgb(250,137,0);
}

#nav-header #breadcrumb {
	color: rgb(250,137,0);
	font-size: 120%;
	font-weight: 500;
}

#nav-header #breadcrumb li {
	margin: 0;
}

#nav-header ul.logout li {
	margin-right: 10px;
}

#nav-header #logout{
	display: inline-block;
}

#nav-header #logout .glyphicon,
#nav-header #searchBox .glyphicon  {
	font-size: 120%;
	padding: 4px;
}

#nav-header #searchBox .glyphicon.active  {
	color: white;
    background-color: rgb(250,137,0);
    border-radius: 0.25em;
}

@media(max-width: 550px) {
	#nav-header #logout .glyphicon, 
	#nav-header #searchBox .glyphicon {
		font-size: 150%;
	}
}

.navbar-default {
	background-color: white !important;
	margin-top: 0px;
}

.navbar-default .navbar-toggle {
	background-color: white;
	border: none;
	font-size: 140%;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: white;
	color: rgb(250,137,0);
}

/* AutoLabel */
.autolabel label{
	z-index: 1;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 20px;
	-ms-animation-duration: .3s;
	animation-duration: .3s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
	color: rgb(103, 106, 108);
}

.autolabel label.lblhide {
  	color: rgba(0, 0, 0, .2)
}

.autolabel input, 
.autolabel textarea, 
.autolabel #tree {
	position: relative;
	z-index: 2;
}

/* Bootstrap Override */

.form-control:focus,
.bootstrap-select .btn:focus {
	border-color: rgb(251, 190, 92) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,190,92,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,190,92,.6) !important;
}

.bootstrap-select .btn:hover, 
.bootstrap-select .btn:focus, 
.bootstrap-select .btn:active {
	background-color: #fff;
}

.btn-primary {
	background-color: rgb(241,136,35);
	border-color: rgb(251,190,92);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus {
	background-color: rgb(239,121,35);
	border-color: rgb(251,190,92);
}

.btn.pull-right,
.btn-group.pull-right {
	margin-left: 8px;
}

b, strong{
	font-weight: 500;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .filter-option {
	color: #999;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background-color: rgba(250,137,0,.7);
}

textarea {
	resize: none;
}

/* Content Design */

#content {
	margin: 20px 20px 50px 20px;
	background-color: #fff;
	border: 1px solid rgb(231, 234, 236);
	border-top: 4px solid rgb(231, 234, 236);
}

#content header {
	border-bottom: 1px solid rgb(243, 243, 244);
	padding: 10px 10px;
}

.page_title {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	margin-top: 4px;
}

#content header .pull-left {
	margin-right: 5px;
}

#content header #btn-back {
    padding: 0px 10px;
    font-size: 210%;
    overflow: hidden;
    display: block;
    height: 23.727px;
    width: 37.412px;
}

#content header #btn-back.xxl {
	font-size: 265%;
	height: 29.727px;
}

#content header #btn-back span {
	position: relative;
	top: -7px;
}

#content header #btn-back:hover span  {
	left: -15px;
}

.content-inner {
	padding: 20px;
}

.content-inner {
	font-size: 13px;
}

/* Units */

ul.unitView {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.unitView li {
	display: block;
	padding: 10px 5px 0px 5px;
	border: 1px solid #fff;
	border-radius: 6px;
	margin: 0 0 3px 0;
	line-height: 1.4em;
	font-weight: 500;
	color: #000;
}

ul.unitView li:hover {
	background-color: rgba(224,224,224,.6);
	border: 1px solid rgb(231, 234, 236);
}

ul.unitView button .glyphicon {
	padding-right: 5px;
}

.unitLabel {
	display: inline-block;
	background-color: rgb(192, 108, 28);
    padding: .35em .6em;
    font-size: 120%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25em;
    position: relative;
    top: -.3em;
}

.unitLabel br{
	display: none;
}

.unitSpace {
	display: inline-block;
	width: 22px;
	height: 100%;
	border: 0px solid red;
}

ul.unitView .pull-right{
	position: relative;
	top: -4px;
	margin-left: 10px;
}

ul.unitView small {
	display: none;
}

ul.unitView .pull-left{
	margin-right: 10px;
}

th .label {
	font-size: 130%;
    position: relative;
    top: 14px;
}

.label-box {
	opacity: 0.2;
}

.label-top {
    top: 2px;
    right: 0.5px;
}

ul.unitView li:hover .label-box {
	opacity: 1;
}

.label-additional {
	margin-left: 8px;
	font-size: 85%;
    letter-spacing: 0.05em;
    position: relative;
    top: -2px;
    cursor: help;
    display: inline-block;
}

.label-additional .glyphicon,
.label-additional .fa {
	margin-right: 5px;
}

.label-rooms {
	background-color: rgb(250, 137, 0);
}

.label-ranks,
.label-datetoday {
	background-color: rgb(140, 119, 114);
}

.label-residents {
	background-color: rgb(255, 126, 0);
}

.label-datewarn {
	background-color: rgb(255, 177, 0);
	color: #000;
}

.label-residentsmax,
.label-dateover {
	background-color: rgb(255, 0, 0);
	color: #fff;
}

.label-residentsfree,
.label-date {
	background-color: rgb(76, 182, 0);
}

.label-residentroom {
	margin: 1px 5px 1px 0px;
	font-size: 100%;
    letter-spacing: 0.05em;
    position: relative;
    top: -2px;
    cursor: help;
    background-color: rgba(127, 127, 127,.1);
    color: #000;
    display: inline-block;
    font-weight: normal;
    border: 1px solid rgba(0,0,0,.1);
}

.residentroom-sm {
	position: inherit;
    margin-top: -12px;
    margin-left: 20px;
    display: block;
}

@media(max-width: 993px) {
	ul.unitView .pull-right{
		width: 105px;
		position: relative;
	    top: -5px;
	    right: -2px;
	}

	ul.unitView .pull-right a{
		float: left;
		padding: 0px 1px;
	}

	ul.unitView button {
		text-align: left;
		display: block;
		width: 97%;
	}

	ul.unitView button .glyphicon {
		padding: 8px;
	}

	ul.unitView p {
		margin: 0;
		padding-top: 12px;
	}

	.unitLabel {
		padding: 1em .6em;
		margin-top: 5px;
	}


	.label-additional .fa.hiddentext-xs,
	.label-additional .fa.hiddentext-sm  {
		margin-right: 0px;
	}
}

@media(max-width: 550px) {
	.unitSpace {
		display: none;
	}

	ul.unitView button {
		text-align: center;
		display: block;
		width: auto;
	}

	ul.unitView .pull-right{
		width: 15px;
		position: relative;
	    top: -5px;
	    right: -3px;
	}

	ul.unitView span.btn-txt {
		display: none;
	}

	.unitLabel {
	    display: table-cell;
	    width: 60px;
	    height: 60px;
	    font-size: 100%;
	    font-weight: 500;
	    color: #fff;
	    text-align: center;
	    vertical-align: middle;
	    border-radius: 0.25em;
	    max-width: 60px;
	    overflow: hidden;
	    padding: 0;
	}

	.unitLabel br{
		display: inherit;
	}

	.unitLabel.size-1,
	.unitLabel.size-2,
	.unitLabel.size-3,
	.unitLabel.size-4 {
		font-size: 120%;
	}

	.unitLabel.size-7,
	.unitLabel.size-8 {
		font-size: 97%;
	}

	.unitLabel.size-9 {
		font-size: 86%;
	}

	.unitLabel.size-10 {
		font-size: 80%;
	}

	.unitLabel.size-11,
	.unitLabel.size-12 {
		font-size: 63%;
	}

	ul.unitView p {
		padding-top: 0px;
	}

	ul.unitView small {
		display: block;
		font-size: 80%;
		color: rgba(128,128,128,.8);
	}

	.label-box {
		display: block;
		opacity: 1;
	}

	.label-specialbreak {
		margin-left: 20px;
    	margin-top: 3px;
	}

	.label-specialbreak2 {
		margin-left: 6px;
	    margin-top: 5px;
	    margin-right: -6px;
	    text-align: left !important;
	}

	.label-additional {
		margin-left: 0;
		margin-right: 10px;
	}

	.actionBtn .label-additional {
		margin-right: 0px;
	}
}

.form-wrapper {
	background-color: rgb(238, 238, 238);
	padding: 30px 30px 0 30px;
	margin: 0;
}

.form-button {
	margin-bottom: 20px;
}

.treeview-spacer {
	margin-top: 25px;
}

.treeview .badge {
	background-color: rgb(250, 137, 0);
}

.treeview .node-selected .badge {
	background-color: #fff;
    color: #000;
}

.treeview.has-error ul {
    border: 1px solid rgb(169, 68, 66);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.unittree li[data-nodeid="0"] {
	background-color: rgb(232,232,234);
}

.unittree li[data-nodeid="0"] .node-icon {
	left: -19px;
	margin-right: -8px;
}

@media(max-width: 550px) {
	.treeview .badge {
		display: none;
	}

	.treeview-spacer {
		margin-top: 0;
	}

	.form-button button {
		margin-top: 5px;
		margin-right: 0px;
	}

	.form-button button span.glyphicon {
		display: none;
	}
}

.theadBuilding{
	display: block;
}

/* Ranks + Users */
.simpletable td {
	vertical-align: middle !important;
	border-top: none !important;
    color: #000;
}

.simpletable tr {
	border-bottom: 1px solid rgb(240,240,240);
}

.simpletable tr:last-child {
	border-bottom: none;
}

.simpletable td.actions {
	text-align: right;
}

.simpletable td.actionBtn .btn {
	margin-right: 3px;
}

.simpletable .label-fixed,
.simpletable .label-fixed-sm {
	display: inline-block;
    width: 100px;
    font-size: 103%;
    letter-spacing: 0.08em;
    padding: 6px 0;
    margin-right: 10px;
    background-color: rgb(192, 108, 28);
    font-weight: 400;
}

.simpletable .label-fixed.label-building {
	padding: 5px 0;
	width: 120px;
	background-color: rgb(192, 108, 28);
}

.simpletable .label-fixed-sm {
    padding: 3px 0;
    background-color: rgb(220, 124, 32);
}

.simpletable .label-fixed-xl {
	width: 145px;
	text-align: left;
	padding: 6px 0px 6px 10px;
}

.simpletable button .glyphicon {
	padding-right: 5px;
}

.simpletable strong {
	display: inline-block;
}

@media(max-width: 993px) {
	.simpletable button {
		text-align: center;
		display: inline-block;
		width: auto;
	}
	.simpletable span.btn-txt {
		display: none;
	}
	.simpletable button .glyphicon {
		padding: 2px;
	}

	.simpletable td.actionBtn .btn {
		margin-right: 0px;
	}
}

@media(max-width: 550px) {
	.simpletable .label-fixed {
		display: none;
	}

	.simpletable .label-building {
		display: inline-block;
	}
}

.simpletable tr:hover .label-box {
	opacity: 1;
}

.simpletable .fa-male, 
.simpletable .fa-female {
	font-size: 180%;
	display: inline-block;
	width: 17px;
}

.table table.tableresidents {
	margin: 0;
	background-color: transparent !important;
}

.table table.tableresidents td{
	padding: 4px;
}

.residentHover {
	display: inline;
    padding: .2em .18em .18em .2em;
    font-size: 100%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    position: relative;
    top: -2px;
    background-color: none;
    cursor: not-allowed;
}

.residentClick,
.residentClick:hover {
	cursor: pointer;
}

@media(max-width: 550px) and screen {
	.residentHover{
		padding: .2em .18em .5em .2em;
		display: block;
		max-width: 93%;
		text-align: left;
		margin-top: 5px;
		background-color: rgba(160,160,160,.1);
		border: 1px solid rgba(160,160,160,.1);
	}
}

.residentHover:hover{
	background-color: rgba(160,160,160,.15);
}

.residentSelected {
	background-color: rgba(250,137,0,.15);
	border: 1px solid rgba(250,137,0,.15);
}

.bootstrap-select .fa-male, 
.bootstrap-select .fa-female {
	font-size: 120%;
}

.fa-male {
	color: rgb(7,167,247);
}

.fa-female {
	color: rgb(237,0,140);
}

/* Roles */
input.checkbox {
	cursor: pointer;
}

.has-error ul.roles-group {
	border: 1px solid #a94442;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

ul.roles-group li {
	padding-bottom: 5px;
}

ul.roles-group li:hover {
	background-color: rgb(245, 245, 245);
}

ul.roles-group li label {
	cursor: pointer;
	display: inline-flex;
	margin: 0;
}

ul.roles-group li.disabled,
ul.roles-group li.disabled label {
	cursor: not-allowed;
	background-color: rgb(245, 245, 245);
}

ul.roles-group li label input {
	position: relative;
    top: -2px;
    margin-right: 5px;
}

#tablerole td.roleactions {
    text-align: right;
}

#tablerole td strong{
	height: 31px;
    padding: 8px 0;
    display: inline-block;
}

/* Users */

.bootstrap-select .subtext {
	color: rgb(120, 120, 120);
	font-size: 80%;
	padding-top: 2px;
	padding-right: 16px;
	display: inline-block;
}

.bootstrap-select .text {
	color: rgb(85, 85, 85);
}

abbr[title] {
	border-bottom: 1px dotted #fff !important;
}

@media(max-width: 550px) {
	.subtext {
		display: none;
	}
}

.user-rights .input-group {
	width: 100%;
}

.user-rights .input-group-addon {
	text-align: left;
	width: 30%;
	color: #fff;
	font-weight: 400;
}

.user-rights .input-group-allunits {
	background: linear-gradient(135deg, rgba(160,160,160,0.8) 0%, rgba(192,192,192,0.7) 100%);
}

.user-rights .bootstrap-select {
	text-align: left;
	width: 70%;
}

#unit-right .unitSpace {
	display: inline-block;
	width: 10px;
	height: auto;
}

#unit-right .input-group:first-child .input-group-addon,
#unit-right .input-group:first-child .bootstrap-select .btn {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}

#unit-right .input-group:last-child .input-group-addon,
#unit-right .input-group:last-child .bootstrap-select .btn {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
}

#unit-right .input-group:not(:first-child):not(:last-child) .input-group-addon,
#unit-right .input-group:not(:first-child):not(:last-child) .bootstrap-select .btn {
	border-radius: 0px;
	border-top: none;
	border-bottom: none;
}

#unit-right .inherit,
.inherit {
	color: rgb(239, 105, 15);
}

/* Gebäude und Räume */
#tableUnterkunft a {
	text-decoration: none;
	position: relative;
	left: -17px;
	margin-right: -17px;
}

.buildingToggle {
	color: rgb(239, 105, 15);
	border: 3px solid #fff;
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
}

#tableUnterkunft a:hover .buildingToggle {
	color: rgba(250,137,0,.7);
}

#tableUnterkunft tr.building-rooms {
	border-bottom: none;
}

.building-notes{
    color: rgb(239, 105, 15);
    font-size: 130%;
    position: relative;
    left: -134px;
    top: -3px;
    padding: 0px 1px 8px 115px;
    margin-right: -134px;
    text-shadow: 0 -1px #fff, 1px 0 #fff, 0 1px #fff, -1px 0 #fff;
    cursor: pointer;
}

#tableUnterkunft tr.building-rooms .building-notes{
	padding-left: 94px;
    left: -113px;
    margin-right: -113px;
}

.building-alias{
	padding-right: 10px;
}

.building-notes+.building-alias {
    position: relative;
    left: -3px;
    margin-right: -3px;
}

.simpletable tr.building-rooms > td{
	padding: 0px 0px 0px 18px;
}

.simpletable tr.building-rooms:hover{
	background-color: #fff;
}

@media(max-width: 800px) {
	.building-notes{ 
		display: none;
	}

	#tableUnterkunft td.actions button{
		padding: 3px 6px;
		position: relative;
		right: -15px;
	}

	.building-alias{
		display: none !important;
	}
}

@media(max-width: 500px) {
	#tableUnterkunft td.actions button{
		padding: 1px 4px;
		position: relative;
		right: -20px;
		margin: 0px -1px;
	}

	.building-alias{
		display: none !important;
	}
}

/* InfoMsg */
#infoMsg {
	color: rgb(169, 68, 66);
	font-weight: bold;
}

/* Fehler optisch noch mehr hervorheben */
.has-error > label,
label.has-error {
	color: rgb(169, 68, 66) !important;
}

.characters {
    position: absolute;
    right: 20px;
    font-size: 11px;
    color: rgb(150,150,150);
    padding: 6px 3px;
    display: none;
}

.handCursor, .datepickerInput {
    cursor: pointer;
}

.datepicker-days .today.day,
.datepicker-days .today.day:hover, 
.datepicker-days .today.day:focus {
	background: rgb(255, 50, 0) !important;
	color: white !important;
}

.datepicker-days .active.day,
.datepicker-days .active.day:hover,
.datepicker-days .active.day:focus {
	background: rgb(250, 137, 0) !important;
}

/* roomBook */
.filter {
	border: 1px solid rgb(173, 173, 173);
    margin: 20px 0px;
    padding: 10px 0;
    border-radius: .25em;
    background-color: rgba(255,255,255,.2);
}

.filtertitle {
	font-size: 110%;
    margin-bottom: 12px;
}


.cursordefault {
	cursor: default !important;
}

.content-inner #help{
	line-height: 2.4em;
	opacity: 0.2;
}

.content-inner #help:hover{
	opacity: 1;
}

#roomInfo {
    background-color: white;
}