@media print {
	* {
		opacity: 1 !important;
	}

	html, body {
		height: auto;
	}

	#sidebar-wrapper,
	#nav-header,
	#page-content-overlap,
	#content header,
	#content hr,
	#content #help, 
	#content .btn {
		display: none;
	}

	#page-content-wrapper{
		position: relative;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0;
		overflow: auto;
	}

	#content,
	#content-inner,
	#wrapper {
		margin: 0;
		padding: 0;
		border: none;
	}

	#content .hidden-xs,
	#content .hidden-sm {
		display: inline-block!important;
	}

	#content .hidden-md,
	#content .hidden-lg {
		display: none!important;
	}

	.simpletable td {
	    vertical-align: top !important;
	}

	.label-specialbreak{
		display: inline-block;
	}
}

	