<!-- 
    Created on : 15.02.2016, 08:38:53
    Author     : dennisfreitag
-->
<header class="clearfix">
    <h2 class="page_title pull-left">Willkommen</h2>
</header>

<div class="content-inner indexPage">

<p>
    Die Software zur Unterkunftsverwaltung soll Ihnen helfen eine webbasierte Übersicht über Ihre Unterkünfte zu führen, indem Sie diese IT-gestützt verwalten und pflegen. 
</p>
<p>
    Sollten Sie diese Anwendung erstmalig verwenden, führen Sie zunächst die nachfolgenden Schritte im Menü Einstellungen aus:
</p>
<p>
<ol>
    <li>Legen Sie die zu verwaltenden <a class="indexPage" href="unitView">Einheiten</a> an.<br>Beginnen Sie hierbei mit der höchsten Organisationseinheit Ihres Verantwortungsbereichs.</li>
    <li>Fügen Sie <a class="indexPage" href="rankView">Dienstgrade</a> hinzu.</li>
    <li>Konfigurieren Sie <a class="indexPage" href="roleView">Rollen</a> mit individuellen Berechtigungen.</li>
    <li>Richten Sie weitere <a class="indexPage" href="userView">Benutzer</a> ein, die mit der Unterkunftsverwaltung zukünftig arbeiten sollen.</li>
    <li>Erstellen Sie <a class="indexPage" href="unterkunftView">Gebäude</a> mit dazugehörigen Unterkünften.</li>
</ol>

<p>
    Nun können Sie die Anwendung nutzen, um <a class="indexPage" href="residentsView">Bewohner</a> anzulegen und den Unterkünften zuzuweisen.
</p>

</div>

<script src="client/controller/index/indexCtrl.js"></script>