<!-- 
    Settings - addUserView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Neuen Benutzer hinzufügen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Benutzername</label>
                    <input maxlength="14" type="text" class="form-control" id="username" placeholder="Benutzername" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Vorname</label>
                    <input maxlength="30" type="text" class="form-control" id="forename" placeholder="Vorname" tabindex="2">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Nachname</label>
                    <input maxlength="30" type="text" class="form-control" id="surname" placeholder="Nachname" tabindex="3">
                </div>

				<div class="form-group autolabel">
                    <label class="lblhide">Dienstgrad</label>
                    <select id="rank" class="selectpicker show-tick" title="Dienstgrad" data-live-search="true" tabindex="4">
					</select>
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Passwort</label>
                    <input type="password" class="form-control" id="password" placeholder="Passwort" tabindex="5">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Passwort (wiederholen)</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Passwort wiederholen" tabindex="6">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 form-group user-rights">
                <label>Rechte</label>
                <div class="form-group input-group">
  					<span class="input-group-addon input-group-allunits">Alle Einheiten</span>
  					<select id="unit-all" class="rolepicker" data-live-search="true" tabindex="7"></select>
  				</div>

  				<div id="unit-right"></div>
                <br /><abbr id="inheritHelp" class="inherit pull-right" data-toggle="popover" data-trigger="hover" data-placement="left" title="Vererbte Berechtigungen" data-content=""><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Vererbte Berechtigungen&nbsp;</abbr>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <div class="btn-group dropup pull-right">
                    <button id="addBtn" type="submit" class="btn btn-default btn-success" tabindex="" accesskey="+">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Hinzufügen
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="" accesskey="-">
                        <span class="caret"></span>
                        <span class="sr-only">Menü öffnen</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addBackBtn">... und zurück zur Übersicht</a></li>
                    </ul>
                </div>

                <button id="clearBtn" type="button" class="btn btn-default pull-right" tabindex="" accesskey="*">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/settings/users/editUserCtrl.js"></script>