h1 {
	font-size: 320%;
}

h1 span{
	position: relative;
    top: 7px;
    left: 3px;
    font-size: 35%;
    color: #F99F18;
}

h2{
	margin-top: 50px;
}

p{
	line-height: 1.8em;
	padding: 8px 5px 5px 5px;
}

a:hover, 
a:focus, 
a:visited {
	color: #FA8900;
	text-decoration: underline;
}

.box {
	background-color: rgba(255,255,255,.9);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .5em;
	padding: 5px;
}

.color {
	padding: 10px 0px;
	display: block;
	border-radius: .5em;
	border: 3px solid #fff;
	text-align: center;
	color: #000;
	overflow: hidden;
}

@media(max-width:900px) {
	.color {
		height: 40px;
		color: transparent !important;
		
	}
}