html, 
body {
	width: 100%;
	height: 100%;
	font-family: "Roboto", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

body.scroll,
#installpage {
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	background-color: rgb(249,159,24); /* Old browsers */
	background-color: -moz-linear-gradient(top,  rgb(249,159,24) 1%, rgb(251,190,92) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(top,  rgb(249,159,24) 1%,rgb(251,190,92) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(to bottom,  rgb(249,159,24) 1%,rgb(251,190,92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center center;
}

/* Install Page */

#installpage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,.8);
	display: none;
	text-align: center;
	-webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

#installpage .statusbg,
#installpage .statusbar {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 14px;
	-webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#installpage .statusbg {
	width: 100%;
	background-color: rgba(251,190,92,.2);
}

#installpage .statusbar {
	width: 0%;
	background-color: rgb(251,190,92);
}

#installpage .statuspercent {
	position: absolute;
    bottom: -37px;
    font-size: 1000%;
    display: block;
    text-align: right;
    width: 100%;
    letter-spacing: -2px;
    color: rgba(251,190,92,.6);
}

#installpage.animated {
	display: block;
}

#installpage .content {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#installpage.success {
	background-color: rgba(6, 120, 6,.8);
}

#installpage.failed {
	background-color: rgba(120, 6, 6,.8);
}

.btn-failed,
.btn-completed {
	color: white;
	display: none;
}

.btn-failed:hover,
.btn-completed:hover {
	background-color: white;
	color: black;
}

.btn-failed {
	border: 2px solid rgba(120, 6, 6, 1);
	background-color: rgba(120, 6, 6, .8);
}

.btn-completed {
	border: 2px solid rgba(6, 120, 6, 1);
	background-color: rgba(6, 120, 6, .8);
}

#loading {
	border: none;
	background-color: rgba(0,0,0,0);
	zoom: 500%;
	display: none;
}

#loading .status{
	font-size: 50%;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#loading .status small{
	display: block;
	font-size: 45%;
	color: white;
	font-weight: normal;
}

#loading .status.success,
#loading .status.failed {
	color: #fff;
}

@media(max-width: 991px) {
	button#loading {
		border: none;
		background-color: rgba(0,0,0,0);
		zoom: 300%;
	}

	button#loading .status{
		font-size: 80%;
	}

	#installpage .statusbar, 
	#installpage .statusbg {
		height: 8px;
	}

	#installpage .statuspercent {
		font-size: 800%;
	}
}

@media(max-width: 450px) {
	button#loading {
		border: none;
		background-color: rgba(0,0,0,0);
		zoom: 200%;
	}

	button#loading .status{
		font-size: 70%;
	}

	#installpage .statuspercent {
		font-size: 500%;
	}
}

svg {
    display: block;
    height: 60px;
    width: 120px;
}

svg path {
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 8;
	stroke: rgb(251,190,92);
	fill: none;
}

.infinity-path,
.success-path,
.error-path,
.error-path2 { 
	display: none;
}

/* Config - Forms */

#config header img {
    position: absolute;
    right: 40px;
    top: -71px;
    z-index: 1000;
}

#config h1 {
    font-size: 200%;
    position: absolute;
    top: -50px;
    left: 40px;
    z-index: 1000;
    font-weight: 600;
}

#config-inner {
	margin-top: 80px;
	margin-bottom: 20px;
}

form {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

legend {
	display: inline-block;
	width: auto;
	margin-bottom: 3px;
    margin: 0 0 0 5px;
    padding: 5px 13px;
    border: 2px solid orange;
    border-left: 0;
    border-radius: 0px 10px 10px 0px;
    font-size: 120%;
    font-weight: 600;
}

.form-control:focus {
	border-color: rgb(251,190,92);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,190,92,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(251,190,92,.6);
}


.form-group span.glyphicon {
	display: none;
}

.form-group.has-error span.glyphicon-remove {
	display: block;
}

.form-group.has-warning span.glyphicon-warning-sign {
	display: block;
}

.form-group.has-success span.glyphicon-ok {
	display: block;
}

.form-group.db-overwrite{
	display: none;
}

.form-group.db-overwrite.has-warning{
	display: block;
}

.form-group.db-overwrite.has-success{
	display: block;
}

.form-group.db-overwrite.has-error{
	display: block;
}

@media(max-width: 991px) {
	#config h1 {
	    font-size: 200%;
	    top: -52px;
	    left: 27px;
	}

	#config img {
	    right: 27px !important;
	}
}

@media(max-width: 450px) {
	#config h1 {
	    font-size: 200%;
	    top: -52px;
	    left: 25px;
	}

	#config img {
		top: -77px !important;
		right: 3px !important;
	    zoom: 0.8;
	}

	#config .btn{
		padding: 5px;
	}
}

@media(min-height: 800px) and (min-width: 991px) {
	#config {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	body {
		overflow-y: hidden;
	}
}