<!--
    unitsView
-->

<header class="clearfix">
    <h2 class="page_title sr-only">Einheiten</h2>
    
</header>

<div class="content-inner"> <!-- start content-inner -->
    <div id="noSearchResult">
        Leider konnten keine Bewohner gefunden werden, die ihren Suchparametern entsprechen.<br><br>
    </div>
    <div class="hidden text-center"></div>
    <div id="tableUnits"></div>
    <ul id="list"></ul>
    <hr>
    <div id="help" class="text-center">
        <span style="font-size: 140%" class="fa fa-male"></span> 
        <span style="font-size: 140%" class="fa fa-female"></span> &nbsp;&nbsp;

        <span class="residentnotes residentHover residentClick" style="display: inline;" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Bewohner" data-content="Unterstrichene Nachnamen weisen auf eine Bemerkung hin.<br><br>Durch Klicken auf den Bewohner werden alle Unterkünfte dieses Bewohners angezeigt"><strong><u>Nachname</u></strong>, Vorname</span>
        &nbsp;
        <span class="label label-additional label-ranks" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Dienstgrad des Bewohners" data-content="Dienstgrad in der Kurzschreibweise beim überfahren mit der Maus wird dieser ausgeschreiben">DG</span>&nbsp;&nbsp;
        <span class="label label-residentroom btn-rooms" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Gebäude- und Raumnummer der zugewiesenen Unterkunft. Sollten Bemerkungen zu dieser Unterkunft vorhanden sein werden diese beim Überfahren mit der Maus eingeblendet. Auch die voraussichtliche Belegungsdauer wird falls vorhanden angezeigt" title="Zugewiesene Unterkünfte">Gebäude 1, Raum 1</span>
    </div>
</div> <!-- end content-inner -->

<script src="client/controller/units/unitsViewCtrl.js"></script>