<!-- 
    Settings - addUnitView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="6">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Neue Einheit hinzufügen</h2>
</header>

<div class="content-inner">
    <div class="form-wrapper">
        <form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Name der Einheit</label>
                    <input maxlength="55" type="text" class="form-control" id="titleNew" placeholder="Name der Einheit" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Kurzschreibweise</label>
                    <input maxlength="12" type="text" class="form-control" id="shortNew" placeholder="Kurzschreibweise" tabindex="2">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="unittree form-group autolabel">
                    <label class="lblhide">Übergeordnete Einheit</label>
                    <div id="tree"></div>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <div class="btn-group dropup pull-right">
                    <button id="addUnitBtn" type="submit" class="btn btn-default btn-success" tabindex="3" accesskey="+">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Hinzufügen
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="4" accesskey="-">
                        <span class="caret"></span>
                        <span class="sr-only">Menü öffnen</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addBackBtn">... und zurück zur Übersicht</a></li>
                    </ul>
                </div>

                <button id="clearBtn" type="button" class="btn btn-default pull-right" tabindex="5" accesskey="*">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>

    </div>

</div>

<script src="client/controller/settings/units/addUnitCtrl.js"></script>