<!-- 
    Settings - editUnitView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="5">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Einheit bearbeiten</h2>
</header>

<div class="content-inner">
    <div class="form-wrapper">
        <form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Name der Einheit</label>
                    <input maxlength="55" type="text" class="form-control" id="titleChg" placeholder="Name der Einheit" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Kurzschreibweise</label>
                    <input maxlength="12" type="text" class="form-control" id="shortChg" placeholder="Kurzschreibweise" tabindex="2">
                </div>
            </div>

            <div class="unittree col-xs-12 col-sm-12 col-md-6 form-group autolabel">
                <label class="lblhide">Übergeordnete Einheit</label>
                <div id="tree"></div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <button id="editUnitBtn" type="submit" class="btn btn-success pull-right" accesskey="+" tabindex="3">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    Änderung(en) speichern
                </button>
                <button id="resetBtn" type="button" class="btn btn-default pull-right" disabled accesskey="*" tabindex="4">
                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    Zurücksetzen
                </button>
            </div>

        </form>

    </div>

</div>

<script src="client/controller/settings/units/editUnitCtrl.js"></script>