<!--
    Settings - unitView
-->

<header class="clearfix">
    <h2 class="page_title sr-only">Einheiten</h2>
    <a id="addNewUnit" class="btn btn-sm btn-success pull-right" href="#" role="button" accesskey="+">Neue Einheit hinzufügen</a>
</header>

<div class="content-inner"> <!-- start content-inner -->
    
    <ul id="list" class="unitView"></ul>
    <hr>

    <div id="help" class="text-center">
        <span class="label label-additional label-rooms" data-toggle="popover" data-trigger="hover" data-placement="auto top" data-content="Anzahl der Unterkünfte die einer Einheit zugeordnet sind"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Unterkünfte</span>
        <span class="label label-additional label-residents" data-toggle="popover" data-trigger="hover" data-placement="auto top" data-content="Anzahl der Bewohner die einer Einheit zugeordnet sind"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Bewohner</span>
    </div>
</div> <!-- end content-inner -->

<!-- Modal Einheiten löschen -->
<div class="modal fade" tabindex="-1" id="modalRemove" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Einheit löschen?</h4>
            </div>
            <div class="modal-body">
                <p>Wollen Sie wirklich die Einheit '<span id="removeUnit"></span>' löschen?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button id="btnConfirmDelete" type="button" class="btn btn-danger">Löschen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="client/controller/settings/units/unitViewCtrl.js"></script>