<!-- 
    Settings - addUserView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="9">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Neuen Bewohner hinzufügen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Vorname</label>
                    <input maxlength="30" type="text" class="form-control" id="forename" placeholder="Vorname" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Nachname</label>
                    <input maxlength="30" type="text" class="form-control" id="surname" placeholder="Nachname" tabindex="2">
                </div>

				<div class="form-group autolabel">
                    <label class="lblhide">Dienstgrad</label>
                    <select id="rank" class="selectpicker show-tick" title="Dienstgrad" data-live-search="true" tabindex="3">
					</select>
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Männlich / Weiblich</label>
                    <select id="gender" class="selectpicker show-tick" title="Männlich / Weiblich" tabindex="4">
                        <option data-content="<span class='fa fa-male'></span> <span class='text'>männlich</span>">male</option>
                        <option data-content="<span class='fa fa-female'></span> <span class='text'>weiblich</span>">female</option>
                    </select>
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Bemerkungen</label>
                    <input maxlength="100" type="text" class="form-control" id="notes" placeholder="Bemerkungen" tabindex="5">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Einheit</label>
                    <div id="tree" class="treeview"></div>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <div class="btn-group dropup pull-right">
                    <button id="addBtn" type="submit" class="btn btn-default btn-success" tabindex="6" accesskey="+">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Hinzufügen
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="7" accesskey="-">
                        <span class="caret"></span>
                        <span class="sr-only">Menü öffnen</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addRoomBtn">... und Unterkunft zuweisen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" id="addBackBtn">... und zurück zur Übersicht</a></li>
                    </ul>
                </div>

                <button id="clearBtn" type="button" class="btn btn-default pull-right" tabindex="8" accesskey="*">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/residents/editResidentsCtrl.js"></script>