<!--
    residentsView
-->

<header class="clearfix">
    <h2 class="page_title sr-only">Bewohner</h2>
    <a id="addNewResident" class="btn btn-sm btn-success pull-right hidden" href="#" role="button" accesskey="+">Neuen Bewohner hinzufügen</a>
</header>

<div class="content-inner"> <!-- start content-inner -->
    <div id="noSearchResult">
        Leider konnten keine Bewohner gefunden werden, die ihren Suchparametern entsprechen.<br><br>
    </div>
    <div class="hidden text-center"></div>
    <table id="tableResidents" class="table table-hover simpletable">
        <tbody></tbody>
    </table>
    <hr>
    <div id="help" class="text-center">
        <span style="font-size: 140%" class="fa fa-male"></span> 
        <span style="font-size: 140%" class="fa fa-female"></span> &nbsp;&nbsp;

        <span class="residentnotes residentHover residentClick" style="display: inline" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Bewohner" data-content="Unterstrichene Nachnamen weisen auf eine Bemerkung hin.<br><br>Durch Klicken auf den Bewohner werden alle Unterkünfte dieses Bewohners angezeigt"><strong><u>Nachname</u></strong>, Vorname</span>&nbsp;

        <span class="label label-additional label-ranks" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Dienstgrad des Bewohners" data-content="Dienstgrad in der Kurzschreibweise beim überfahren mit der Maus wird dieser ausgeschreiben">DG</span>
        <span class="label label-additional label-residents" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Einheit des Bewohners" data-content="Beim Überfahren werden die Einheiten mit den übergeordneten Dienststellen angezeigt" style="background-color: #c06c1c">
        <span class="fa fa-cubes"></span>Einheit</span>
        &nbsp;&nbsp;
        <span class="label label-residentroom btn-rooms" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Gebäude- und Raumnummer der zugewiesenen Unterkunft. Sollten Bemerkungen zu dieser Unterkunft vorhanden sein werden diese beim Überfahren mit der Maus eingeblendet. Auch die voraussichtliche Belegungsdauer wird falls vorhanden angezeigt" title="Zugewiesene Unterkünfte">Gebäude 1, Raum 1</span>
    </div>
</div> <!-- end content-inner -->

<!-- Modal Benutzer löschen -->
<div class="modal fade" tabindex="-1" id="modalRemove" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bewohner löschen?</h4>
            </div>
            <div class="modal-body">
                <p>Wollen Sie wirklich den Bewohner '<span id="removeResident"></span>' löschen?</p>
                <p id="removeRooms"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button id="btnConfirmDelete" type="button" class="btn btn-danger">Löschen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="client/controller/residents/residentsViewCtrl.js"></script>