<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Bewohner zuweisen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group autolabel">
                        <label class="lblhide">Bewohner</label>
                        <select id="residents" class="selectpicker show-tick" title="Bewohner" data-live-search="true" data-size="10">
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group autolabel handCursor">
                        <label class="lblhide">voraussichtliche Belegung bis</label>
                        <div class="input-group date">
                            <input class="datepickerInput form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter row">
                <div class="col-xs-12 col-sm-12 col-md-12 filtertitle">
                    <strong>Bewohner filtern</strong>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="units form-group autolabel">
                        <label class="lblhide">Einheit</label>
                        <div id="tree"></div>
                    </div>
                </div>

            
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group autolabel">
                        <label class="lblhide">Dienstgrad</label>
                        <select id="rank" class="selectpicker show-tick" title="Dienstgrad" data-live-search="true" data-size="10">
                            <option data-content="<span class='pull-right subtext'></span><span class='text'>Keine Auswahl</span>"></option>
                        </select>
                    </div>

                    <div class="form-group autolabel">
                        <label class="lblhide">Männlich / Weiblich</label>
                        <select id="gender" class="selectpicker show-tick" title="Männlich / Weiblich" tabindex="4">
                            <option data-content="<span class='fa '></span> <span class='text'>Keine Auswahl</span>"></option>
                            <option data-content="<span class='fa fa-male'></span> <span class='text'>männlich</span>">male</option>
                            <option data-content="<span class='fa fa-female'></span> <span class='text'>weiblich</span>">female</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                    <button id="addBtn" type="submit" class="btn btn-success pull-right">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Zuweisen
                    </button>
                    <button id="clearBtn" type="button" class="btn btn-default pull-right">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        Felder leeren
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/roomBook/roomBookAccomCtrl.js"></script>