<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Unterkunft zuweisen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="form-group autolabel">
                    <label class="lblhide">Unterkünfte</label>
                    <select id="accomm" class="selectpicker show-tick" title="Unterkünfte" data-live-search="true">
                    </select>
                </div>   
                <div class="">
                    <table id="roomInfo" class="table table-hover table-bordered">
                        
                    </table>
                </div>
                
                
                
                
                <div class="form-group autolabel handCursor">
                    <label class="lblhide">voraussichtliche Belegung bis</label>
                    <div class="input-group date">
                        <input class="datepickerInput form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <strong>Unterkunft filtern</strong>
                    <ul id="checkBoxen" class="roles-group list-group">
                        <li class="list-group-item">
                            <label>
                                <input id="ownUnit" type="checkbox" class="checkbox" /> eigene Einheit
                            </label>
                        </li>
                         <li class="list-group-item">
                            <label>
                                <input id="aboveUnits" type="checkbox" class="checkbox" /> übergeordnete Einheiten
                            </label>
                        </li>
                         <li class="list-group-item">
                            <label>
                                <input id="emptyAccomms" type="checkbox" class="checkbox" /> leere Unterkünfte
                            </label>
                        </li>
                         <li class="list-group-item">
                            <label>
                                <input id="gender" type="checkbox" class="checkbox" checked /> Geschlechtertrennung berücksichtigen
                            </label>
                        </li>
                    </ul>
                </div>    
            </div>
            
            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <button id="addBtn" type="submit" class="btn btn-success pull-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Zuweisen
                </button>
                <button id="clearBtn" type="button" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/roomBook/roomBookResidentCtrl.js"></script>