<!-- 
    Settings - addBuildingView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="7">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Neuen Raum hinzufügen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="form-group autolabel">
                    <label class="lblhide">Raumnummer</label>
                    <input maxlength="5" type="text" class="form-control" id="roomNumber" placeholder="Raumnummer" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Maximale Belegungsanzahl</label>
                    <input type="number" class="form-control" value="" min="0" max="50" step="1" id="roomOccu" maxlength="2" placeholder="Maximale Belegungsanzahl" value="" tabindex="2">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Bemerkungen</label>
                    <textarea id="roomNotes" id="input" class="form-control" rows="6" maxlength="300" tabindex="3"></textarea>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="units form-group autolabel">
                    <label class="lblhide">Einheit</label>
                    <div id="tree"></div>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <div class="btn-group dropup pull-right">
                    <button id="addBtn" type="submit" class="btn btn-default btn-success" tabindex="4" accesskey="+">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Hinzufügen
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="5" accesskey="-">
                        <span class="caret"></span>
                        <span class="sr-only">Menü öffnen</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addBackBtn">... und zurück zur Übersicht</a></li>
                    </ul>
                </div>

                <button id="clearBtn" type="button" class="btn btn-default pull-right" tabindex="6" accesskey="*">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/settings/unterkunft/addRoomViewCtrl.js"></script>