<!-- 
    Settings - editBuildingView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="6">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Gebäude bearbeiten</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Gebäudenummer</label>
                    <input maxlength="4" type="text" class="form-control" id="buildingNumber" placeholder="Gebäudenummer" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Bezeichnung</label>
                    <input maxlength="30" type="text" class="form-control" id="buildingAlias" placeholder="Bezeichnung" tabindex="2">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group autolabel">
                    <label class="lblhide">Bemerkungen</label>
                    <textarea id="buildingNotes" name="" id="input" class="form-control" rows="6" maxlength="300" tabindex="3"></textarea>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <button id="editBtn" type="submit" class="btn btn-success pull-right" tabindex="4" accesskey="+">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    Änderung(en) speichern
                </button>
                <button id="resetBtn" type="button" class="btn btn-default pull-right" disabled tabindex="5" accesskey="-">
                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    Zurücksetzen
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/settings/unterkunft/editBuildingViewCtrl.js"></script>