<!-- 
    Settings - addBuildingView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" tabindex="6" accesskey="/">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Raum bearbeiten</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
    	<form class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="form-group autolabel">
                    <label class="lblhide">Raumnummer</label>
                    <input maxlength="5" type="text" class="form-control" id="roomNumber" placeholder="Raumnummer" tabindex="1">
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Maximale Belegungsanzahl</label>
                    <input type="number" class="form-control" value="" min="0" max="50" step="1" id="roomOccu" maxlength="2" placeholder="Maximale Belegungsanzahl" value="" tabindex="2">
                    <div class="resident hidden text-center">Gebäude ist mit <span class="residents"></span> belegt</div>
                </div>

                <div class="form-group autolabel">
                    <label class="lblhide">Bemerkungen</label>
                    <textarea id="roomNotes" id="input" class="form-control" rows="6" maxlength="300" tabindex="3"></textarea>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="units form-group autolabel">
                    <label class="lblhide">Einheit</label>
                    <div id="tree"></div>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <button id="editBtn" type="submit" class="btn btn-success pull-right" tabindex="4" accesskey="+">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    Änderung(en) speichern
                </button>
                <button id="resetBtn" type="button" class="btn btn-default pull-right" disabled tabindex="5" accesskey="*">
                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    Zurücksetzen
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/settings/unterkunft/editRoomViewCtrl.js"></script>