<header class="clearfix">
    <h2 class="page_title sr-only">Rollen</h2>
    <a id="addNewBuilding" class="btn btn-sm btn-success pull-right" href="#" role="button" accesskey="+">Neues Gebäude hinzufügen</a>
</header>

<div class="content-inner"> <!-- start content-inner -->
    <table id="tableUnterkunft" class="table table-hover simpletable">
        <tbody></tbody>
    </table>
</div> <!-- end content-inner -->

<!-- Modal -->
<div class="modal fade" tabindex="-1" id="modalRemove" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="head"></span> löschen?</h4>
            </div>
            <div class="modal-body">
                <p>Wollen Sie wirklich <span id="removeThing"></span> <span id="removeID"></span> löschen?</p>
                <p id="infoMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button id="deleteOkBtn" type="button" class="btn btn-danger">Löschen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="client/controller/settings/unterkunft/unterkunftViewCtrl.js"></script>