<!-- 
    Settings - addRankView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="6">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Neuen Dienstgrad hinzufügen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
        <form class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 autolabel">
                <label class="lblhide">Name des Dienstgrades</label>
                <input maxlength="50" type="text" class="form-control" id="titleNew" placeholder="Name des Dienstgrads" required data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bitte einen Namen eingeben." tabindex="1">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 autolabel">
                <label class="lblhide">Kurzschreibweise</label>
                <input maxlength="8" type="text" class="form-control" id="shortNew" placeholder="Kurzschreibweise" required data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bitte eine Kurzschreibweise eingeben." tabindex="2">
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <div class="btn-group dropup pull-right">
                    <button id="addRankBtn" type="submit" class="btn btn-default btn-success" tabindex="3" accesskey="+">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Hinzufügen
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="4" accesskey="-">
                        <span class="caret"></span>
                        <span class="sr-only">Menü öffnen</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addBackBtn">... und zurück zur Übersicht</a></li>
                    </ul>
                </div>

                <button id="clearBtn" type="button" class="btn btn-default pull-right" tabindex="5" accesskey="*">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/settings/ranks/addRankCtrl.js"></script>