<!-- 
    Settings - editRankView
-->

<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="5">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Dienstgrad bearbeiten</h2>
</header>

<div class="content-inner">
    <div class="form-wrapper">
        <form class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-6 autolabel">
                <label class="lblhide">Name des Dienstgrades</label>
                <input maxlength="50" type="text" class="form-control" id="titleEdit" placeholder="Name des Dienstgrads" required tabindex="1">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 autolabel">
                <label class="lblhide">Kurzschreibweise</label>
                <input maxlength="8" type="text" class="form-control" id="shortEdit" placeholder="Kurzschreibweise" required tabindex="2">
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <button id="editBtn" type="submit" class="btn btn-success pull-right" tabindex="3" accesskey="+">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    Änderung(en) speichern
                </button>
                <button id="resetBtn" type="button" class="btn btn-default pull-right" disabled tabindex="4" accesskey="*">
                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    Zurücksetzen
                </button>
            </div>
        </form>
    </div>
</div>
<script src="client/controller/settings/ranks/editRankCtrl.js"></script>