<!-- 
    Settings - addRoleView
    Einstellungen -> Rollen hinzufügen
-->
<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 id="test" class="page_title">Neue Rolle hinzufügen</h2>
</header>
<div class="content-inner">
    <div class="form-wrapper">
        <form class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group autolabel">
                    <label class="lblhide">Name der Rolle</label>
                    <input type="text" class="form-control" id="title" placeholder="Name der Rolle" maxlength="20" tabindex="1">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Globale Rechte</label>
                    <ul id="global" class="roles-group list-group">
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Einheitspezifische Rechte</label>
                    <ul id="unit" class="roles-group list-group">
                    </ul>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <div class="btn-group dropup pull-right">
                    <button id="addBtn" type="submit" class="btn btn-default btn-success" tabindex="" accesskey="+">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Hinzufügen
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="" accesskey="-">
                        <span class="caret"></span>
                        <span class="sr-only">Menü öffnen</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addBackBtn">... und zurück zur Übersicht</a></li>
                    </ul>
                </div>

                <button id="clearBtn" type="button" class="btn btn-default pull-right" tabindex="" accesskey="*">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    Felder leeren
                </button>
            </div>

        </form>
    </div>
</div>
<script src="client/controller/settings/roles/editRoleCtrl.js"></script>