<!-- 
    Settings - editRankView
    Einstellungen -> Rollen bearbeiten
-->
<header>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right" href="#" role="button" accesskey="/" tabindex="">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <h2 class="page_title">Rolle bearbeiten</h2>
</header>

<div class="content-inner">
    <div class="form-wrapper">
        <form class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group autolabel">
                    <label class="lblhide">Name der Rolle</label>
                    <input type="text" class="form-control" id="title" placeholder="Name der Rolle" maxlength="20" tabindex="1">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Globale Rechte</label>
                    <ul id="global" class="roles-group list-group">
                    </ul>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                    <label>Einheitspezifische Rechte</label>
                    <ul id="unit" class="roles-group list-group">
                    </ul>
                </div>
            </div>

            <div class="clearfix col-xs-12 col-sm-12 col-md-12 form-button">
                <button id="editBtn" type="submit" class="btn btn-success pull-right" tabindex="" accesskey="+">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    Änderung(en) speichern
                </button>
                <button id="resetBtn" type="button" class="btn btn-default pull-right" disabled tabindex="" accesskey="*">
                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                    Zurücksetzen
                </button>
            </div>
        </form>
    </div>
</div>
<script src="client/controller/settings/roles/editRoleCtrl.js"></script>