<!--
    accomResidentView
-->

<header class="clearfix">
    <h2 class="page_title pull-left">Unterkünfte des Bewohners</h2>
    <a id="btn-back" class="btn btn-sm btn-primary pull-right xxl" href="#" role="button" accesskey="/" tabindex="2">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </a>
    <a id="addBtn" class="btn btn-sm btn-success pull-right hidden" href="#" role="button" accesskey="+" tabindex="1">Unterkunft zuweisen</a>
</header>

<div class="content-inner"><!-- start content-inner -->
    <div class="hidden text-center"></div>
    <table id="residentRooms" class="table table-hover simpletable"></table>
    <hr>
    <div id="help" class="text-center">
        <span class="label label-residentroom btn-rooms" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto bottom" data-content="Gebäude- oder Raumnummer der zugewiesenen Unterkunft. Sollten Bemerkungen zu dieser Unterkunft vorhanden sein werden diese beim Überfahren mit der Maus eingeblendet" title="Zugewiesene Unterkünfte">Raum 1</span>
        &nbsp;&nbsp;

        <span style="font-size: 140%" class="fa fa-male"></span> 
        <span style="font-size: 140%" class="fa fa-female"></span> &nbsp;&nbsp;

        <span class="residentnotes residentHover residentClick" style="display: inline" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Bewohner" data-content="Unterstrichene Nachnamen weisen auf eine Bemerkung hin.<br><br>Durch Klicken auf den Bewohner werden alle Unterkünfte dieses Bewohners angezeigt"><strong><u>Nachname</u></strong>, Vorname</span>
        <span class="residentnotes residentHover residentSelected" style="display: inline" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Bewohner" data-content="Die Unterkünfte dieses Bewohners werden angezeigt">Ausgewählter Bewohner</span>
        <span class="residentnotes residentHover" style="display: inline" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Bewohner" data-content="Die Berechtigung ihres Benutzeraccounts reichen nicht aus um die Unterkünfte diese Bewohners zu öffnen">Bewohner anderer Einheiten</span>&nbsp;&nbsp;&nbsp;

        <span class="label label-additional label-ranks" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Dienstgrad des Bewohners" data-content="Dienstgrad in der Kurzschreibweise beim überfahren mit der Maus wird dieser ausgeschreiben">DG</span>
        <span class="label label-additional label-residents" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" title="Einheit des Bewohners" data-content="Beim Überfahren werden die Einheiten mit den übergeordneten Dienststellen angezeigt" style="background-color: #c06c1c">
        <span class="fa fa-cubes"></span>Einheit</span>
        
        <span class="label label-additional label-date" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="mehr als 14 Tage" data-original-title="voraussichtliche Belegung bis" title=""><span class="hiddentext-xs hiddentext-sm fa fa-calendar-check-o"></span><span class="hidden-xs hidden-sm">&gt; 15T</span></span>

        <span class="label label-additional label-datewarn" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="14 oder weniger Tage übrig" data-original-title="voraussichtliche Belegung bis" title=""><span class="hiddentext-xs hiddentext-sm fa fa-calendar-minus-o"></span><span class="hidden-xs hidden-sm">&lt;= 14T</span></span>

        <span class="label label-additional label-datetoday" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Heutiger Abreisetag" data-original-title="voraussichtliche Belegung bis" title=""><span class="hiddentext-xs hiddentext-sm fa fa-calendar"></span><span class="hidden-xs hidden-sm">HEUTE</span></span>

        <span class="label label-additional label-dateover" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Abreisetag überschritten" data-original-title="voraussichtliche Belegung bis" title=""><span class="hiddentext-xs hiddentext-sm fa fa-calendar-times-o"></span><span class="hidden-xs hidden-sm">DRÜBER</span></span>

        <span class="label label-additional label-top cursordefault label-residentsfree" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Leere Unterkunft" data-original-title="Auslastung des Gebäudes / Raumes">0 / 4</span>
        <span class="label label-additional label-top cursordefault label-residents" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Teilweise belegt" data-original-title="Auslastung des Gebäudes / Raumes">3 / 4</span>
        <span class="label label-additional label-top cursordefault label-residentsmax" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="auto top" data-content="Volle Kapazität ausgenutzt" data-original-title="Auslastung des Gebäudes / Raumes">4 / 4</span>
    </div>
</div> <!-- end content-inner -->

<!-- Modal Unterkunft freigeben  -->
<div class="modal fade" tabindex="-1" id="modalClear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Unterkunft freigeben?</h4>
            </div>
            <div class="modal-body">
 
                <div class="selectResident">
                    <p>Bitte wählen Sie den Bewohner im <span class="modalRoom"></span> aus.</p>
                    <select class="show-tick" data-live-search="true" data-size="6"></select>
                    <br><br>
                </div>

                <div class="oneResident">
                    <p>Wollen Sie wirklich den Bewohner '<span class="modalResident"></span>' aus dem <br><span class="modalRoom"></span> entfernen?</p>
                </div>

                <div class="keys" style="color: red;">Bewohner ist noch im Besitz von Schlüsseln für die Unterkunft und kann somit nicht freigegeben werden</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button id="btnConfirm" type="button" class="btn btn-danger">Unterkunft freigeben</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal voraussichtliche Belegung bis -->
<div class="modal fade" tabindex="-1" id="modalDate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Voraussichtliches Belegungsdatum ändern?</h4>
            </div>
            <div class="modal-body">
            	
                <div class="selectResident">
                    <p>Bitte wählen Sie den Bewohner im <span class="modalRoom"></span> aus.</p>
                    <select class="show-tick" data-live-search="true" data-size="6"></select>
                    <br><br>
                </div>

                <div class="oneResident">
                    <p>Ändern des Belegungsdatums für den Bewohner <span class="modalResident"></span><br>im <span class="modalRoom"></span>.</p>
                </div>

                <p>Wenn kein Belegungsdatum angeben werden soll muss das Eingabefeld leer bleiben.</p> 
                <div class="input-group date">
                    <input class="datepickerInput form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button id="btnConfirm" type="button" class="btn btn-danger">Neues Datum speichern</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="client/controller/accommodations/accomResidentViewCtrl.js"></script>